button {
  font-size: 14px;
  background-color: #666;
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.25), rgba(255,255,255,.11));
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, rgba(255,255,255,.25)),color-stop(1, rgba(255,255,255,.11)));
  background-image: -webkit-linear-gradient(rgba(255,255,255,.25), rgba(255,255,255,.11));
  color: #fff;
  text-rendering: optimizeLegibility;
  text-shadow: 0 -1px 1px #222;
  padding: 6px 10px 6px 10px;
  border: 0;
  border-radius: 0;
  border-bottom: 1px solid #222;
  margin: 0;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
}

button.first {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

button.last {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

button:hover {
  background-color: #f60;
}

html, body {
  margin: 0;
  padding: 0;
}
body {
  font-family: Tahoma, Geneva, sans-serif;
}
body p {
  padding-left: 25px;
}
#help-window h1 {
  padding-left: 15px;
}

#vis { font-family: Georgia, serif; }
path { fill: none; stroke: #666; stroke-width: .5px; }
text {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
svg:not(.hover) text:hover, .hover tspan:hover {
  fill: seagreen;
}
#header {
  background: #f5f5f5;
  padding: 10px 0 5px;
  border-bottom: solid #ddd 1px;
  height: 30px;
}
.grey {
  background: #f5f5f5;
  margin: 20px 0;
  padding: 0;
  border: solid #ddd 1px;
  border-left: none;
  border-right: none;
}
.thumb a {
  color: #000;
  font-weight: bold;
  text-decoration: none;
}
.thumb:hover a {
  color: #f60;
}
#vis {
  position: absolute;
  top: 45px;
  left: 10px;
  bottom: 0;
  right: 310px;
}
#text {
  width: 300px;
  position: absolute;
  top: 46px;
  bottom: 0;
  right: 0;
  overflow-y: auto;
  font-family: "Andale Mono", "Courier New", "Courier", monospace;
}
#text a { text-decoration: none; color: #000; }
#text a.highlight { background: #ff9; color: #000; }
#text a:hover { text-decoration: underline; }
#text .row { height: 20px; }
rect {
  fill: none;
  stroke: #ddd;
}
rect.page {
  fill: #ff9;
  stroke: #000;
  fill-opacity: .7;
  cursor: move;
}
line {
  stroke: #000;
}

input {
  vertical-align: middle;
}

.label-small, .help {
  font-size: 10px;
  line-height: 25px;
  display: block;
  color: #999;
  font-style: italic;
}

#form-source {
  display: inline-block;
}

#form {
  display: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

#logo a,
#explore-wt a {
  text-decoration: none;
  color: #000;
  text-transform: lowercase;
}

#logo a:hover,
#explore-wt:hover {
  color: #f60;
}

#paste {
  width: 100%;
  height: 100px;
  border: solid #ccc 1px;
}

h2 {
  font-weight: 300;
  line-height: 25px;
  margin: 0;
  padding: 0;
  float: left;
  margin-right: 1em;
  font-size: 1.2em;
}

.copyright {
  display: none;
}

.icon path {
  fill: #000;
  stroke: none;
}

.icon {
  cursor: pointer;
  margin-top: -3px;
  float: left;
}

.icon:hover path {
  fill: #e60;
}

#help-window {
  position: absolute;
  top: 45px;
  border-top: solid #ccc 1px;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  overflow-y: scroll;
}

.help-wrapper {
  width: 1024px ;
  margin-left: auto ;
  margin-right: auto ;
}

.center {
  text-align: center;
}

#logo {
  margin: 0;
  font-size: 2em;
  line-height: 25px;
  float: left;
  margin-right: 1em;
  padding: 0;
}


#logo svg {
  margin-right: 8px;
}

.wrapper {
  width: 800px;
  margin: 0 auto;
  text-align: justify;
}

#source, #keyword {
  width: 300px;
  margin-top: 0px;
  box-sizing: border-box;
  position: relative;
  padding: 5px 20px 5px 8px;
  font-size: 12px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  outline: none;
}

#source:focus, #keyword:focus {
  border-color: #f60;
}

.thumb {
  width: 180px;
  height: 220px;
  text-align: center;
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
}

.thumb img {
  width: 180px;
  border: none;
}

.clear {
  clear: both;
}

#form label {
  cursor: pointer;
  color: #333;
}

#help-left {
  font-size: 10px;
  color: #999;
  font-style: italic;
  padding: 5px 10px;
  width: 250px;
}

.hidden {
    visibility: hidden;
    over-flow: hidden;
    width: 0px;
    height: 0px;
}

rect {
	pointer-events: all;
	cursor: pointer;
}

.chart {
	display: block;
	margin: auto;
	margin-top: 40px;
}

.parent .label {
	color: #FFFFFF;
	padding-left: 2px;
	padding-top: 2px;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.labelbody {
	background: transparent;
}

.label {
	padding: 2px;
	white-space: pre;
	overflow: hidden;
	text-overflow: ellipsis;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-webkit-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
	-moz-text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.child .label {
	white-space: pre-wrap;
	text-align: center;
	text-overflow: ellipsis;
}

.cell {
	font-size: 11px;
	cursor: pointer
}

/* positive / negative tweet chart */
.axis path,
.axis line
{
  fill: none;
  stroke: #000;
  pointer-events: none;
  shape-rendering: crispEdges;
}

.axis text {
  pointer-events: none;
}

.posarea,
circle.positive {
  fill: cornflowerblue;
  stroke: blue;
}

.negarea,
.negative circle {
  fill: #ff4e4e;
  stroke: #ff0000;
}

div.tooltip {   
  position: absolute;           
  text-align: center;           
  width: 73px;                                   
  padding: 4px;             
  font: 12px sans-serif;        
  background: lightgrey;   
  border: 0px;      
  border-radius: 8px;                    
}

.tooltip a,
.tooltip a:visited {
  color: #222
}

#help-window {
	background-image: linear-gradient(left , rgb(255,255,255) 0%, rgb(235,235,235) 25%, rgb(235,235,235) 70%, rgb(255,255,255) 100%);
	background-image: -o-linear-gradient(left , rgb(255,255,255) 0%, rgb(235,235,235) 25%, rgb(235,235,235) 70%, rgb(255,255,255) 100%);
	background-image: -moz-linear-gradient(left , rgb(255,255,255) 0%, rgb(235,235,235) 25%, rgb(235,235,235) 70%, rgb(255,255,255) 100%);
	background-image: -webkit-linear-gradient(left , rgb(255,255,255) 0%, rgb(235,235,235) 25%, rgb(235,235,235) 70%, rgb(255,255,255) 100%);
	background-image: -ms-linear-gradient(left , rgb(255,255,255) 0%, rgb(235,235,235) 25%, rgb(235,235,235) 70%, rgb(255,255,255) 100%);

	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, rgb(255,255,255)),
		color-stop(0.25, rgb(235,235,235)),
		color-stop(0.70, rgb(235,235,235)),
		color-stop(1, rgb(255,255,255))
	);
}

#casttreemapvis {
	margin-left: 25px;
}

#casttreemapvislegend {
	font-size: 8pt;
	margin-left: 25px;
	margin-top: 20px;
}

#posnegtweetbarvis {
	text-align: center;
	font-size: 10pt;
	margin-top: 45px; 
	float: left;
	margin-left: 25px;
	width: 30px;
	height: 500px;
}